header {
    border: solid #F3F4F6 1px; /* gray-100 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
    margin: 10px;
    font-weight: 500;
}

nav {
    display: flex;
    gap: 24px;
    padding: 10px;
}

nav a {
    color: #4B5563; /* gray-700 */
    text-decoration: none;
    font-size: 16px;
}