.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
    align-items: stretch;
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filters-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;               /* separación horizontal */
    flex-wrap: wrap;         /* permite bajar en mobile */
}
